@font-face {
  font-family: "FiraCode";
  font-display: auto;
  src: url(./fonts/FiraCode-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

.AppBox {
  font-family: "dengxian";
  background-position: center 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg0 {
  background-image: url("https://img.huahuabiz.com/user_files/2024927/1727407022134422.webp");
}
.bg1 {
  background-image: url("https://img.huahuabiz.com/user_files/2024927/172741847114575.webp");
}
.bg2 {
  background-image: url("https://img.huahuabiz.com/user_files/2024927/1727417517198195.webp");
}
